.categories {
  display: flex;
  width: 100%;
  gap: 8px;
  align-items: flex-start;
  box-sizing: border-box;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}
.item,
.active {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  bottom: none;
  border-radius: 32px;
  background-color: antiquewhite;
}
.active {
  background-color: aqua;
  color: #c57fff;
}

::-webkit-scrollbar {
  display: none;
}
